<h3>{{ _('Repeating Command Configuration') }}</h3>

<form class="form-horizontal">
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.repeatingcommand.enabled" /> {{ _('Enabled') }}
			</label>
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.repeatingcommand.verbose" /> {{ _('Verbose Log Output') }}
			</label>
		</div>
	</div>

	<p>{{ _('Rules are checked from top to bottom. Filtered rules take precedence over rules that apply to all situations.') }}</p>

	<div data-bind="foreach: settings.plugins.repeatingcommand.rules">
		<fieldset class="well">
			<legend>
				{{ _('Rule') }} <span data-bind="text: $index() + 1"></span>
				<button type="button" class="btn btn-mini pull-right" data-bind="click: $root.settings.plugins.repeatingcommand.moveRuleDown, enable: $index() < $root.settings.plugins.repeatingcommand.rules().length - 1">{{ _('Down') }}</button>
				<button type="button" class="btn btn-mini pull-right" data-bind="click: $root.settings.plugins.repeatingcommand.moveRuleUp, enable: $index() > 0">{{ _('Up') }}</button>
				<button type="button" class="btn btn-mini pull-right" data-bind="click: $root.settings.plugins.repeatingcommand.removeRule, visible: $root.settings.plugins.repeatingcommand.rules().length > 1">{{ _('Remove') }}</button>
			</legend>

			<div class="control-group">
				<label class="control-label">{{ _('Command') }}</label>
				<div class="controls">
					<input type="text" class="input-block-level" data-bind="value: command">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ _('Interval (seconds)') }}</label>
				<div class="controls">
					<input type="number" min="1" class="input-block-level" data-bind="value: interval">
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" data-bind="checked: filtering_enabled"> {{ _('Enable status/state filtering') }}
					</label>
				</div>
			</div>

			<div class="control-group" data-bind="visible: filtering_enabled">
				<label class="control-label">{{ _('M117 status contains') }}</label>
				<div class="controls">
					<input type="text" class="input-block-level" data-bind="value: status_contains">
					<span class="help-block">{{ _('Optional comma-separated, case-insensitive substrings.') }}</span>
				</div>
			</div>

			<div class="control-group" data-bind="visible: filtering_enabled">
				<label class="control-label">{{ _('Printer states') }}</label>
				<div class="controls">
					<input type="text" class="input-block-level" data-bind="value: printer_states">
					<span class="help-block">{{ _('Optional comma-separated state IDs, such as PRINTING or PAUSED.') }}</span>
				</div>
			</div>
		</fieldset>
	</div>

	<button type="button" class="btn" data-bind="click: settings.plugins.repeatingcommand.addRule, enable: settings.plugins.repeatingcommand.rules().length < 6">{{ _('Add Rule') }}</button>
	<span class="help-inline">{{ _('Up to 6 rules.') }}</span>
</form>
